# Environment
ENVIRONMENT=XXX

# Django settings
SECRET_KEY=XXX
DEBUG=XXX
DEBUG_TOOLBAR=XXX
ALLOWED_HOSTS=XXX
CORS_ALLOWED_ORIGINS=XXX

# Database
DATABASE_NAME=XXX
DATABASE_USER=XXX
DATABASE_PASSWORD=XXX
DATABASE_HOST=XXX
DATABASE_PORT=XXX
